.centered {
  margin-top: 50px;
  text-align: center;
  width: 70%;
}

.main-box {
  border: 1px #dee2e6 solid;
  padding: 30px;
  border-radius: 15px;
}

.custom-badge {
  border: 1px solid #6f6f6f;
  border-radius: 35px;
  color: #444141;
  background-color: white;
  display: inline-block;
  padding: 0em 0.4em;
}
